/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */
:root {
    --primary-color: #003092;
    --dark-color: #0F0F0F;
    --gray-color: gray;

    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --small-font-size: 14px;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* outline: 1px solid red; */
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* GLOBAL CSS */
section {
    padding: 80px 0;
}

.header-section {
    height: fit-content;
    padding: 120px 0;
}

section,
.section-title {
    font-size: var(--h2-font-size);
    font-weight: 800;
    /* text-transform: uppercase; */
}

.btn-blue {
    background-color: var(--primary-color);
    color: white;
}

.text-blue {
    color: var(--primary-color);
}

.text-dark {
    color: var(--dark-color);
}

.fs-7 {
    font-size: var(--small-font-size);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

.card,
.swiper-slide {
    will-change: transform;
}


/* CSS FOR SECTION */

/* NAVBAR */
.navbar-nav,
a {
    padding: 0 50px;
}

.navbar-toggler {
    margin-right: 50px;
}

.nav-link.active {
    color: var(--primary-color) !important;
    font-weight: 600;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
    color: var(--primary-color);
}

.navbar-scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(50x);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* HEADER */
.header-section {
    height: calc(var(--vh, 1vh) * 100);
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /*Efek scroll*/
    /* overflow: hidden; */
}

.header-section .header-img {
    width: 90%;
    /* border-radius: 15px; */
}

/* PORTFOLIO */
.portfolio-section .card .card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* ABOUT */
.about-section {
    /* background-color: #030304; */
    background-color: var(--primary-color);
}

.about-section .about-img {
    height: fit-content;
    width: fit-content;
    /* border-radius: 15px; */
}

/* BENEFIT */
.benefit-section {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /*Efek scroll*/
    padding: 60px 0;
    overflow: hidden;
}

.benefit-content {
    position: relative;
    z-index: 1;
}

.benefit-number {
    font-size: 48px;
    font-weight: bold;
    color: #79b5ff;
    /* biru muda */
}

.benefit-box ul {
    padding-left: 20px;
}

.benefit-box li {
    margin-bottom: 6px;
}

.benefit-section .card {
    box-shadow: 8px 8px 8px;
    border: 0;
    transition: 0.3s;
}

.benefit-section .card:hover {
    cursor: pointer;
    box-shadow: 15px 15px 15px;
    transform: scaleX(1)
}

/* BENEFIT */

/* PORTFOLIO */
.portfolio-section a {
    padding: 5px 0;
}

/* PRODUCT */
.product-section .card .card-img-top {
    /* height: 500px; */
    width: 100%;
    object-fit: cover;
}

.product-section .card .card-title {
    align-items: center;
}

.btn-outline-primary {
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    color: white;
    transition: 0.3s ease;
}

/* CLIENTS */
.clients-section img {
    max-height: 80px;
    max-width: 120px;
    object-fit: contain;
}

.clients-swiper .swiper-wrapper {
    transition-timing-function: linear !important;
}

/* CONTACT */
.contact-section {
    background-color: #003092;
    padding: 30px 0;
    color: white;
}

section .contact-section {
    border-color: #003092;
}

.btn-blue:hover {
    background-color: var(--dark-color);
    color: white;
}

/* FOOTER */
footer {
    padding: 0;
    background-color: #0F0F0F;
}

@media screen and (max-width: 768px) {
    /* .navbar-nav, a {
        padding: 0 50px;
    } */

    .navbar-collapse.show {
        /* position: absolute; */
        background-color: white;
        /* padding: 1rem; */
    }

    section {
        padding: 100px 0;
    }

    .header-section {
        height: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .header-section .header-info {
        justify-content: center;
    }

    .header-section .header-info {
        flex-direction: column;
        align-items: center;
    }

    .header-section .header-info h2 {
        font-size: 35px;
        padding-top: 3px;
    }

    .header-section .header-info p {
        font-size: 18px;
        /* padding-top: 3px; */
    }

    /* .header-section .header-img {
        margin-top: 20px;
        align-content: center;
    } */

    .about-section .col-md-6 {
        margin-top: 30px;
        align-items: center;
    }

    .section-title,
    .about-section {
        font-size: 18px;
        font-weight: 500;
    }

    .text-blue {
        font-size: 16px;
        font-weight: 600;
    }

    .benefit-section .card {
        height: 500px;
        width: 100%;
    }

    .benefit-section .card .card-title {
        font-size: medium;
        font-weight: none;
    }

    .benefit-section .card .card-body .benefit-lists li {
        font-size: small;
    }

    section .portfolio-section {
        margin-bottom: 10px;
    }

    .portfolio-section .card .card-img-top {
        height: 100px;
        width: 100%;
        object-fit: cover;
    }

    .portfolio-section {
        padding-bottom: 10px;
    }

    .portfolio-section .card .card-body a {
        padding: 0;
        /* font-size: small; */
    }

    .product-section {
        padding-bottom: 20px;
    }

    .product-section .col-sm-6 {
        padding-bottom: 15px;
    }

    .clients-section img {
        max-height: 60px;
        max-width: 100px;
        object-fit: contain;
    }

    .clients-section {
        padding: 80px 0;
    }

    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 578px) {

    .navbar-nav,
    a {
        padding: 0 10px;
    }

    .navbar-toggler {
        margin-right: 10px;
    }

    .header-section .header-info {
        flex-direction: column;
        align-items: center;
    }

    .header-section .header-info h2 {
        font-size: 25px;
        padding-top: 3px;
    }

    .header-section .header-info p {
        font-size: 16px;
        /* padding-top: 3px; */
    }

    .about-section {
        padding: 35px 0;
    }

    .about-section p {
        padding: 0;
    }

    .clients-section img {
        max-height: 50px;
        max-width: 70px;
    }

    .contact-section p {
        font-weight: 0;
    }

}